<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="contact-detail-header col-xs-12">{{ contact?.name }}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-xs-12">
                <img [src]="contact?.imageUrl" alt="{{ contact?.name }}" class="img-thumbnail pull-left" style="max-width: 75px;">
                <a class="btn btn-danger pull-right" (click)="onDelete()">Delete</a>
                <a class="btn btn-primary pull-right" routerLink="edit">Edit</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Email: {{ contact?.email}}</p>
                <p>Phone: {{ contact?.phone}}</p>
            </div>
        </div>
    </div>
</div>