<div class="panel panel-default">
    <div class="panel-heading">
        <div class="clearfix">
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="panel-title" style="margin: 1.2rem 0rem 0.75rem 0rem;">{{ contact?.name }}</h4>
                  </div>
            </div>
            <div class="media">
                <div class="media-left" *ngIf="contact.imageUrl">
                    <img 
                         [src]="contact.imageUrl" 
                         [alt]="contact.name" 
                         style="max-width: 75px;">
                </div>                  
                <div class="media-body media-vcenter">
                    <div class="pull-right">
                        <a class="btn btn-primary" style="margin-right: 5px;" routerLink="edit">Edit</a>
                        <a class="btn btn-danger" (click)="onDelete()">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <p class="small"><strong>Email: </strong> {{ contact?.email }}</p>
        <p class="small"><strong>Phone: </strong> {{ contact?.phone }}</p>
    </div>
</div>