<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row vcenter">
            <div class="col-md-8">
                <h3 class="panel-title">Contacts</h3>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success" routerLink="new">New Contact</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <cms-contact-item 
                *ngFor="let contactEl of contacts" 
                [contact]="contactEl"></cms-contact-item>
        </div>
    </div>
</div>
