<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row vcenter">
            <div class="col-md-8">
                <h3 class="panel-title">Contacts</h3>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success" routerLink="new">New Contact</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div *ngFor="let group of deptGroupedContacts">
          <h4>{{ group.name }}</h4>
          
          <div
            cdkDropList
            [cdkDropListData]="group.members"
            class="row available-contacts-zone"
          >
            <cms-contact-item
              *ngFor="let contact of group.members"
              [contact]="contact"
              cdkDrag
              (cdkDragStarted)="onDragStart(contact)"
            ></cms-contact-item>
          </div>
        </div>
      </div>
      
</div>

