<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row vcenter">
            <div class="col-md-8">
                <span class="pull-left panel-title">Add Documents</span>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-success">Add Document</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <cms-document-item></cms-document-item>
        </div>
    </div>
</div>
