<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-lg-5 col-lg-offset-1">
        <cms-document-list (selectedDocumentEvent)="selectedDocument = $event"></cms-document-list>
    </div>
    <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-lg-5 col-lg-offset-1">
        <cms-document-detail
            *ngIf="selectedDocument; else infoText" 
            [document]="selectedDocument"></cms-document-detail>
            <ng-template #infoText>
                <p>Select a document for more details.</p>
            </ng-template>
    </div>
</div>